@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  height: 100%;
  /**
     Плавный скролл
    */
  scroll-behavior: smooth;
}

body {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  min-height: 100%;
  /**
     Унифицированный интерлиньяж
    */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Rubik-Medium";
  src: url("/fonts/Rubik-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik-Regular";
  src: url("/fonts/Rubik-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-dark: #191a23;
  --color-dark-alt: #292a32;
  --color-light: #ffffff;
  --color-main: #403a8c;
  --color-main-light: #5d56b9;
  --color-main-dark: #f8a232;
  --color-gray: #958f8f;
  --color-gray-alt: #898989;
  --border: 1px solid var(--color-dark);
  --border-radius: 14px;
  --border-radius-small: 7px;
  --border-radius-large: 45px;
  --border-radius-card: 30px;
  --shadow: 0 5px 0 0 var(--color-dark);
  --font-family-base: "Inter", sans-serif;
  --container-width: 1440px;
  --container-padding-x: 20px;
  --section-padding-y: 70px;
  --input-height: 59px;
  --button-height: 52px;
  --margin-default: 25px;
  --transition-duration: 0.2s;
}

body {
  font-size: clamp(16px, 18 / 1440 * 100vw, 18px);
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-light);
  background-color: var(--color-light);
  overflow-x: hidden;
}

a,
button,
input,
textarea,
svg * {
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

h1,
.h1 {
  font-size: clamp(43px, 60 / 1440 * 100vw, 60px);
}

h2,
.h2 {
  font-size: clamp(36px, 40 / 1440 * 100vw, 40px);
}

.a,
h3,
.h3 {
  font-size: clamp(26px, 30 / 1440 * 100vw, 30px);
}

h4,
.h4 {
  font-size: clamp(18px, 20 / 1440 * 100vw, 20px);
}

.main-page {
  margin-top: 200px;
}

.margin-top {
  margin-top: 160px;
}

#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--color-main);
  color: white;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  border: none;
  z-index: 1000;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  cursor: pointer;
}

#scroll-to-top:hover {
  background-color: rgb(32, 32, 32);
}

#scroll-to-top.show {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.bi-telephone-fill,
.bi {
  position: relative;
  top: 0px;
  right: 0px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.title-violet {
  color: var(--color-main);
  font-weight: 400;
  font-size: clamp(30px, 40 / 1440 * 100vw, 40px);
  margin-top: 20px;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 500px;
}

.violet {
  color: var(--color-main-light);
}

.feedback__row {
  display: none;
}

.feedback__row.active {
  display: block;
}

.pagination button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

.pagination button.active {
  background-color: #77a632;
  color: white;
}

.pagination {
  margin-top: 50px;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  font-size: 18px;
  color: var(--color-light);
  background-color: rgb(247, 134, 29);
  border-radius: var(--border-radius);
}
@media (hover: hover) {
  .button:hover {
    background-color: rgb(199, 103, 13);
    color: var(--color-light);
  }
}
@media (hover: none) {
  .button:active {
    background-color: rgb(199, 103, 13);
    color: var(--color-light);
  }
}
.button-transparent {
  background-color: transparent;
  color: var(--color-dark);
}
.button-small {
  background-color: transparent;
  color: var(--color-dark);
  height: 40px;
  padding-inline: 10px;
}
@media (hover: hover) {
  .button-small:hover {
    background-color: var(--color-dark);
    color: var(--color-light);
  }
}
@media (hover: none) {
  .button-small:active {
    background-color: var(--color-dark);
    color: var(--color-light);
  }
}
.button-red {
  color: crimson;
}
@media (hover: hover) {
  .button-red:hover {
    background-color: transparent;
  }
}
@media (hover: none) {
  .button-red:active {
    background-color: transparent;
  }
}
.button-bw {
  background-color: var(--color-light);
  border-radius: var(--border-radius-large);
  padding-inline: 4em;
  color: var(--color-dark);
  border: none;
  -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.288);
          box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.288);
  -webkit-animation: BWButtonAnimation 0.7s ease-in-out forwards;
          animation: BWButtonAnimation 0.7s ease-in-out forwards;
}
.button-bw:hover {
  background-color: var(--color-dark);
  color: var(--color-light);
}

@-webkit-keyframes BWButtonAnimation {
  0% {
    -webkit-transform: translateY(220%);
            transform: translateY(220%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes BWButtonAnimation {
  0% {
    -webkit-transform: translateY(220%);
            transform: translateY(220%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
.burger-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  height: 48px;
  position: relative;
  margin: 1.5em 1.5em;
  border-radius: var(--border-radius-small);
}
@media (hover: hover) {
  .burger-button:hover {
    background-color: var(--color-main);
  }
}
@media (hover: none) {
  .burger-button:active {
    background-color: var(--color-main);
  }
}
.burger-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--color-dark);
  border-radius: 5px;
  -webkit-box-shadow: 0 8px, 0 -8px;
          box-shadow: 0 8px, 0 -8px;
}

@media (max-width: 767px) {
  .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: rgba(64, 58, 140, 0.9215686275);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  padding: 0.5em 0;
  list-style: none !important;
}
.header__menu-link {
  font-size: 35px;
  list-style: none !important;
  border: var(--color-light) 2px solid;
  padding: 0em 1em;
}
@media (hover: hover) {
  .header__menu-link:hover {
    background-color: #c10505;
    color: var(--color-light);
  }
}
@media (hover: none) {
  .header__menu-link:active {
    background-color: #c10505;
    color: var(--color-light);
  }
}

.logo_image {
  margin: 0.5em 0;
}

.cross-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  left: -24px;
  position: relative;
  border-radius: var(--border-radius-small);
  cursor: pointer;
}
@media (hover: hover) {
  .cross-button:hover {
    background-color: var(--color-main);
  }
}
@media (hover: none) {
  .cross-button:active {
    background-color: var(--color-main);
  }
}
.cross-button::before, .cross-button::after {
  content: "";
  position: absolute;
  top: 23px;
  left: 7px;
  width: 70%;
  height: 2px;
  background-color: var(--color-dark);
  background-repeat: 5px;
}
.cross-button::before {
  rotate: 45deg;
}
.cross-button::after {
  rotate: -45deg;
}

.mobile-overlay {
  width: 100%;
  height: 100vh;
  margin: 0;
  border: none;
  padding: 25px 0px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: rgba(63, 58, 140, 0.9921568627);
  color: white;
}
.mobile-overlay:not([open]) {
  display: block;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.mobile-overlay__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.mobile-overlay__close-button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}
.mobile-overlay__body {
  padding-top: 40px;
  list-style: none;
  margin-left: 10px;
}
.mobile-overlay__list {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  min-height: 70vh;
}
.mobile-overlay__link {
  list-style: none;
  font-size: 25px;
}
.mobile-overlay__button {
  font-size: 25px;
}
.mobile-overlay__item {
  margin-top: 60px;
}

.element-animation {
  opacity: 0;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
}

.element-animation.element-show {
  opacity: 1;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-inline: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: #958f8f 4px solid;
  margin-top: 20px;
  padding-top: 20px;
}
@media (max-width: 767px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.footer__logo {
  width: 150px;
}
.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 767px) {
  .footer__column {
    margin-top: 40px;
  }
}

.vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.icon-container {
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.icon {
  width: 80px;
  fill: var(--color-gray);
  -webkit-transition: all 0.1s ease-in-out !important;
  transition: all 0.1s ease-in-out !important;
}

@media (hover: hover) {
  .tg:hover {
    fill: #0088cc;
  }
}
@media (hover: none) {
  .tg:active {
    fill: #0088cc;
  }
}

@media (hover: hover) {
  .vk:hover {
    fill: #597da3;
  }
}
@media (hover: none) {
  .vk:active {
    fill: #597da3;
  }
}

@media (hover: hover) {
  .wp:hover {
    fill: #43d854;
  }
}
@media (hover: none) {
  .wp:active {
    fill: #43d854;
  }
}

.bottom {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main__image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
}
.main__scroll-button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-main);
  margin-top: 20px;
  padding: 1em 1em;
}
.main__image {
  width: 100%;
}

.bi-chevron-double-down {
  position: relative;
  top: 0px;
  margin-left: 7px;
}

.border-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: white 2px solid;
  padding: 0.8em 0.3em;
  cursor: pointer;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}
.work__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 1024px) {
  .work__text-container {
    width: 500px;
  }
}
.work__text {
  color: var(--color-main);
}
@media (max-width: 1023px) {
  .work__text {
    text-align: center;
  }
}
.work__image {
  max-width: 700px;
  width: 100%;
}

.services__top-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.services__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.services__search {
  background: transparent;
  border-radius: 50px;
  outline: none;
  border: black 2px solid;
  font-size: 40px;
}
@media (max-width: 1023px) {
  .services__search {
    font-size: 20px;
    margin-top: 25px;
  }
}
@media (max-width: 767px) {
  .services__search {
    margin-left: 30px;
  }
}
.services__search:focus {
  border-color: #c10505;
}
.services__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.services__categories {
  position: relative;
}
.services__categories-text {
  color: var(--color-dark);
  border: 2px var(--color-dark) solid;
  border-radius: var(--border-radius-large);
  padding: 0.1em 0.6em;
  margin-bottom: 0;
  cursor: pointer;
  z-index: 10;
  background-color: var(--color-light);
}
@media (max-width: 1023px) {
  .services__categories-text {
    margin-top: 10px;
  }
}
@media (hover: hover) {
  .services__categories-text:hover {
    color: #c10505;
    border-color: #c10505;
  }
  .services__categories-text:hover:hover + .hidden-categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (hover: none) {
  .services__categories-text:active {
    color: #c10505;
    border-color: #c10505;
  }
  .services__categories-text:active:hover + .hidden-categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.search-icon {
  width: 50px;
  position: relative;
  top: 2px;
  padding: 5px;
  right: 80px;
  fill: black;
}
@media (max-width: 1023px) {
  .search-icon {
    top: 22px;
    padding: 5px;
    width: 36px;
    right: 60px;
  }
}

.search-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.services__input:focus-within + .icon-cont .search-icon {
  fill: #c10505;
}

.name {
  font-weight: 400;
}

.poster {
  width: 200px;
}

.service-card,
.card-containter {
  width: 200px;
}

.card-href {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hidden-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  position: absolute;
  top: 90%;
  max-width: 260px;
  width: 100%;
  background-color: white;
  border: 1px solid var(--color-dark);
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  row-gap: 20px;
}
@media (hover: hover) {
  .hidden-categories:hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (hover: none) {
  .hidden-categories:active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.hidden-categories__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--color-dark);
  border-radius: var(--border-radius-large);
  padding: 0.1em 0.3em;
  cursor: pointer;
  border: 2px var(--color-dark) solid;
}
@media (max-width: 1023px) {
  .hidden-categories__item {
    margin-top: 10px;
  }
}
@media (hover: hover) {
  .hidden-categories__item:hover {
    color: #c10505;
    border-color: #c10505;
  }
}
@media (hover: none) {
  .hidden-categories__item:active {
    color: #c10505;
    border-color: #c10505;
  }
}

.about__image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: var(--margin-default);
}
.about__image-container img {
  width: 800px;
}
.about__text {
  color: var(--color-main-light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}
.about__text p {
  width: 800px;
  font-size: 30px;
}
.about__map-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-weight: 400;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#map {
  width: 1000px;
  height: 400px;
}

.feedback__rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 101px;
}
.feedback__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.feedback__title {
  margin-top: 30px;
}

.dark {
  color: var(--color-dark);
}

.row-title {
  font-weight: 500;
  max-width: 500px;
}
@media (min-width: 768px) {
  .row-title {
    width: 100%;
  }
}

.row-content {
  font-weight: 400;
  max-width: 800px;
}
@media (min-width: 768px) {
  .row-content {
    width: 100%;
  }
}
@media (max-width: 1023px) {
  .row-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
}

table {
  color: var(--color-dark) !important;
}

.styled-table thead tr {
  background-color: #add8e6;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: transparent;
}

.styled-table tbody tr:nth-of-type(odd) {
  background-color: #add8e6;
}

.styled-table tbody tr:hover {
  background-color: #ddd;
}

.styled-table th {
  background-color: #add8e6;
  color: #333;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 767px) {
  .page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2em 2em;
}

@media (min-width: 1024px) {
  .left {
    width: 60%;
  }
}

@media (min-width: 1024px) {
  .right {
    width: 40%;
  }
}

.text-under-img,
.image-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.text-page {
  margin-top: 20px;
  font-size: clamp(20px, 35 / 1440 * 100vw, 35px);
  line-height: 50px;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #0c82f1; /* Синий цвет рамки */
  font-size: 18px;
}

.custom-table thead tr {
  background: -webkit-gradient(linear, left top, right top, from(#ff7e5f), to(#feb47b));
  background: linear-gradient(to right, #ff7e5f, #feb47b); /* Градиент от оранжевого до розового */
  color: white;
}

.custom-table th,
.custom-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.custom-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.custom-table tbody tr:nth-of-type(odd) {
  background-color: #add8e6; /* Светло-голубой цвет */
}

.custom-table tbody tr:hover {
  background-color: #ddd;
}

.custom-table th {
  color: #333;
}

.ul {
  margin-left: 30px;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}