.footer {
	@include row;
	padding-inline: 10px;
	justify-content: space-between;

	border-top: #958f8f 4px solid;
	margin-top: 20px;
	padding-top: 20px;

	@include mobile {
		@include column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	&__logo {
		width: 150px;
	}
	&__column {
		@include column;

		@include mobile {
			margin-top: 40px;
		}
	}
}
.vertical {
	@include row;
}

.icon-container {
	column-gap: 20px;
}
.icon {
	width: 80px;
	fill: var(--color-gray);
	transition: all 0.1s ease-in-out !important;
}
.tg {
	@include hover {
		fill: #0088cc;
	}
}
.vk {
	@include hover {
		fill: #597da3;
	}
}
.wp {
	@include hover {
		fill: #43d854;
	}
}
.bottom {
	justify-content: flex-end;
}
