.header {
	&__inner {
		@include mobile {
			@include row;
			justify-content: space-between;
		}
	}

	&__menu-list {
		@include row;
		background: #403a8ceb;
		justify-content: center;
		column-gap: 60px;
		padding: 0.5em 0;
		list-style: none !important;
	}

	&__menu-link {
		font-size: 35px;
		list-style: none !important;

		border: var(--color-light) 2px solid;
		padding: 0em 1em;

		@include hover {
			background-color: #c10505;
			color: var(--color-light);
		}
	}
}
.logo_image {
	margin: 0.5em 0;
}
