.main {
	&__image-wrapper {
		@include row;
		justify-content: center;
		align-items: center;
		margin-top: 5px;
	}

	&__scroll-button-wrapper {
		@include row;
		@include flex-center;
		background-color: var(--color-main);
		margin-top: 20px;
		padding: 1em 1em;
	}

	&__image {
		width: 100%;
	}
}
.bi-chevron-double-down {
	position: relative;
	top: 0px;
	margin-left: 7px;
}
.border-wrapper {
	@include row;
	border: white 2px solid;
	padding: 0.8em 0.3em;
	cursor: pointer;
}
.work {
	@include row;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 30px;

	&__text-container {
		@include column;
		justify-content: center;

		@include tablet-above {
			width: 500px;
		}
	}

	&__text {
		color: var(--color-main);

		@include tablet {
			text-align: center;
		}
	}
	&__image {
		max-width: 700px;
		width: 100%;
	}
}
