.services {
	&__top-page {
		@include row;
		justify-content: center;
		margin-top: 40px;
		flex-wrap: wrap;
	}

	&__categories {
		@include column;
	}
	&__search {
		background: transparent;
		border-radius: 50px;
		outline: none;
		border: black 2px solid;
		font-size: 40px;

		@include tablet {
			font-size: 20px;
			margin-top: 25px;
		}
		@include mobile {
			margin-left: 30px;
		}

		&:focus {
			border-color: #c10505;
		}
	}

	&__grid {
		@include row;
		justify-content: center;
	}

	&__categories {
		position: relative;
	}

	&__categories-text {
		color: var(--color-dark);
		border: 2px var(--color-dark) solid;
		border-radius: var(--border-radius-large);
		padding: 0.1em 0.6em;
		margin-bottom: 0;
		cursor: pointer;
		z-index: 10;
		background-color: var(--color-light);

		@include tablet {
			margin-top: 10px;
		}

		@include hover {
			color: #c10505;
			border-color: #c10505;
			&:hover + .hidden-categories {
				display: flex;
			}
		}
	}
}
.search-icon {
	width: 50px;

	position: relative;
	top: 2px;
	padding: 5px;
	@include tablet {
		top: 22px;
		padding: 5px;
		width: 36px;
		right: 60px;
	}
	right: 80px;
	fill: black;
}
.search-input {
	@include row;
}
.services__input:focus-within + .icon-cont .search-icon {
	fill: #c10505;
}
.name {
	font-weight: 400;
}
.poster {
	width: 200px;
}
.service-card,
.card-containter {
	width: 200px;
}
.card-href {
	@include row;
	justify-content: center;
}
.hidden-categories {
	@include column;

	display: none;
	position: absolute;
	top: 90%;
	max-width: 260px;
	width: 100%;
	background-color: white;
	border: 1px solid var(--color-dark);
	padding: 10px;
	box-sizing: border-box;
	row-gap: 20px;

	@include hover {
		display: flex;
	}
	&__item {
		@include row;

		justify-content: center;
		color: var(--color-dark);
		border-radius: var(--border-radius-large);
		padding: 0.1em 0.3em;
		cursor: pointer;
		border: 2px var(--color-dark) solid;

		@include tablet {
			margin-top: 10px;
		}

		@include hover {
			color: #c10505;
			border-color: #c10505;
		}
	}
}
